<style>
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    justify-items: center;
  }
  
  .card {
    width: 300px;
    height: 300px;
  }
  
  .img_wrapper {
      width: 300px;
      height: 200px;
  }
  
  .item_pic {
      width: 100%; /* or any custom size */
      height: 100%; 
      object-fit: cover;
  }
  
  
  </style>

<!DOCTYPE html>


<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>

</head>



<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <img src="/static/pic_for_html/bu_log.png" width="200" height="100" alt="bu logo" style="margin-right: 1em;">

      <h1 style="text-align: center; color:white">BU MarketPlace</h1>

      <button 
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">



                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">No Filter</a>
                    <a class="dropdown-item" href="/filter_by/Furniture">Furniture</a>
                    <a class="dropdown-item" href="/filter_by/Textbook">Textbook</a>
                    <a class="dropdown-item" href="/filter_by/Electronic">Electronic</a>
                    <a class="dropdown-item" href="/filter_by/Men Fashion">Men Fashion</a>
                    <a class="dropdown-item" href="/filter_by/Women Fashion">Women Fashion</a>
                    <a class="dropdown-item" href="/filter_by/Tiny Task">Tiny Task</a>
                    <a class="dropdown-item" href="/filter_by/Other">Other</a>
                  </div>
                </li>


                
                <a class="nav-item nav-link" id="user" href="/profile">Profile</a>
                <a class="nav-item nav-link" id="about" href="/about">About</a>
                <a class="nav-item nav-link" id="log_out" href="/log_out">Logout</a>

                <div class="search">
                  <input type="text" placeholder="Search..">
                </div>


            </div>
        </div>

      
          


      </nav>
    




    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}

          {% if category == 'error' %}

            <div class="alert alert-danger alert-dismissable fade show" role="alert">
              
              {{message}}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>

          {% elif category == 'success' %}

            <div class="alert alert-success alert-dismissable fade show" role="alert">
              
              {{message}}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>

          {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith%}


    {% block body%}
    {% endblock%}







    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
  ></script>


    
    
</body>
</html>