{% extends "home_base.html" %}

{% block title %}HOME{% endblock %}


{% block body%}
  </li>
    <h4 style = "font-size:x-large; position: relative; left: 40px; top: 10px;">New Arrivals!</h4>
    <h4 style = "font-size: medium; position: relative; left: 40px; top: 2px;">Find what you need</h4>

    

    <div class="wrapper">
    <!-- <p>here</p>
    <p>{{all_product_online}}</p> -->
    {% for p in all_product_online %}

        <div class="card border-dark mb-3" style="max-width: 18rem;">

            <div class="img_wrapper">
                <a href="{{url_for('views.click_pic', product_id=p._id)}}"><img src="{{p.pic_path_for_html}}" class="item_pic" ></a>
            </div>

            <ul class="list-group list-group-flush">
                <h5 style="text-align:center;">{{p['title']}} ${{p['price']}}</h5>
                <p style="text-align:center;">{{p['category']}} | {{p['owner']}}</p>

                <p>{{p['post_date']}}</p>
            </ul>

        </div>
        

    {% endfor %}
    </div>
    



{% endblock%}