{% extends "home_base.html" %}

{% block title %}HOME{% endblock %}


{% block body%}
  </li>
    <h4 style = "font-size:x-large; position: relative; left: 40px; top: 10px;">New Arrivals!</h4>
    <h4 style = "font-size: medium; position: relative; left: 40px; top: 2px;">Find what you need</h4>

    

    <div class="wrapper">
    <!-- <p>here</p>
    <p>{{all_product_online}}</p> -->
    {% for p in all_product_online %}

        <div class="card border-white mb-3" style="max-width: 18rem;">

            <div class="img_wrapper">
                <a href="{{url_for('views.click_pic', product_id=p._id)}}"><img src="../static/pic_for_html/test_image.png" class="item_pic"></a>
            </div>

            <ul class="list-group list-group-flush">
                <a style="text-align:center;">{{p['title']}}</a>
                <a style="text-align:center;">${{p['price']}}</a>
                <a style="text-align:center;">{{p['category']}}</a>
                <a style="text-align:center;">Seller:: {{p['owner']}}</a>
            </ul>

        </div>
        

    {% endfor %}
    </div>
    



{% endblock%}