{% extends "log_in_base.html" %}



{% block body%}

<style>
p.normal {
    font-weight: bold;
    position: relative;
    left: 600px;
  }
  

</style>

<form method="POST">
    <br>
    <br>
    <h1 style = "text-align: center; font-weight: bold;">Log In</h1>
    <br>
    <div class="form-group">

        <p class="normal">BU Email</p>
        <input type="email"  
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter BU Email"
                style="width: 300px;position: relative; left: 600px;">
        <br>

        <p class="normal">Password</p>
        <input type="password"  
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Enter Password"
                style="width: 300px;position: relative; left: 600px;">
        <br>

        

    </div>

    
        <input style="position: relative; left: 600px;" type="checkbox" value="lsRememberMe" id="rememberMe"> <label style="position: relative; left: 605px;" for="rememberMe">Remember me</label> 
        <a style="position: relative; left: 765px;color: darkgrey;" class="nav-item nav-link" id="reset_password" href="/reset_password">Reset Password</a>
     
    
    <button style="width: 300px;position: relative; left: 600px; background-color: red;" type="submit" value="Login" class="btn btn-primary">Log In</button>
    <a style="width: 300px;position: relative; left: 600px; color: darkgrey;" class="nav-item nav-link" id="sign_up" href="/sign_up">Don't have an account? Sign up now!</a>
 



</form>

{% endblock%}