{% extends "profile_base.html" %}

{% block title %}PROFILE{% endblock %}

{% block body%}

<div class="wrapper">

  <div class="info">
    <h1 class="info_text" style = font-size:100%; >Welcome Back {{email}}</h1>
    <h1 class="info_text" style = font-size:200%; >Dashboard</h1>
    <a href="/profile/add_product" class="btn btn-primary" style="background-color: rgb(0, 153, 255);">Add New Product</a>
    <br>
    <br>


    <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
    !!DELETE ACCOUNT!!
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">WARNING DELETE ACCOUNT!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you are gonna delete the account??
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="/profile/delete_account"><button type="button" class="btn btn-danger" >YES DELETE!!!</button></a>
        </div>
      </div>
    </div>
  </div>
    

  <br>
  <br>
  </div>
    <div class="item_wrapper">

    {% for p in all_product_owned %}


      <div class="card border-dark mb-3">

          <div class="img_wrapper">
            <a href="{{url_for('views.click_pic', product_id=p._id)}}">
              <img src="{{p.pic_path_for_html}}" class="item_pic" style="width:100%;" >
            </a>
            <!-- <img src="../static/pic_for_html/test_image.png" class="item_pic"> -->
        </div>

        <ul class="list-group list-group-flush">
          <a style="text-align:center; font-weight: bold;">{{p['title']}}<a>
          <a style="text-align:center;">${{p['price']}}</a>
        </ul>


        <a href="{{url_for('user.edit', product_id=p._id)}}" class="btn btn-success">Edit</a>
        <a href="{{url_for('user.delete', product_id=p._id)}}" class="btn btn-danger btn">Delete</a>
      </div>

    {% endfor %}
    </div>
</div>

{% endblock%}