{% extends "log_in_base.html" %}

{% block title %}RESET{% endblock %}

{% block body%}

<form method="POST">
    <h1>Reset Password</h1>
    <p>!!!Please check the SPAM box in your bu email, and set bumarketplace488@gmail.com as trusted!!!</p>

    <div class="form-group">

        <label for="email">New Password</label>
        <input type="password" 
                class="form-control" 
                name="password1" 
                placeholder="Enter New Password">
        <br>
        
        <label for="email">Confirm Password</label>
        <input type="password" 
                class="form-control" 
                name="password2" 
                placeholder="Confirm New Password">
        <br>
        
        <label for="email">Verification Code</label>
        <input type="number" 
                class="form-control" 
                name="code" 
                placeholder="Enter Verification Code">

        
    </div>
    <br>
    <button type="submit" class="btn btn-primary">RESET</button>
    <a class="nav-item nav-link" id="resend_the_code" href="{{url_for('auth.send_code')}}">Resend the code</a>
 



</form>

{% endblock%}