{% extends "log_in_base.html" %}

{% block title %}RESET{% endblock %}

{% block body%}

<form method="POST">
    <h1>Reset Password</h1>

    <div class="form-group">

        <label for="email">BU Email</label>
        <input type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter BU Email">
        <br>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
    <a class="nav-item nav-link" id="sign_up" href="/sign_up">Sign Up</a>
 



</form>

{% endblock%}